!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gaus
    = stylesheet_link_tag    'admin', media: "all"
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  - if admin_signed_in?
    %body.skin-green.sidebar-mini
      .wrapper
        = render :partial => 'layouts/admin_header'
        = render :partial => 'layouts/admin_sidebar'
        .content-wrapper
          = yield
  - else
    %body.hold-transition.login-page
      .login-box
        .login-logo
          %b
            Admin
          Gaus
        .login-box-body
          = yield

