!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "recruiter, gaus, hr, recruitment, job", :name => "keywords"}
    %meta{:content => "Gaus for recruiter and companies", :name => "description"}
    %meta{:content => "Gaus, 1/4/2016", :name => "revised"}
    %meta{:content => "Vertigo", :name => "author"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Gaus
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/modal', :locals => {:m_id => 'help'}
    - if current_page?('/') ||  current_page?(root_url)
      #body-image
      = render :partial => 'layouts/header_index'
      = yield
    - else
      = render :partial => 'layouts/header_index'
      = yield
