- content_for :current_location, 'box_shadow_class'
- content_for :title, t('.edit')
.main-wrapper
  .container-flexible
    .inner-container
      .edit-entity-wrapper
        .col-grid.col-4
          .edit-entity-form
            = form_tag company_update_path(resource) do
              .credential-form
                .text-input-wrapper
                  = label_tag t('.company_name')
                  = text_field_tag :name, resource.company_spec.name
                .text-input-wrapper
                  .text-input-wrapper
                    .tips
                      .tips-icon
                        .tips-info
                          %p
                            = t('recruiter.companies.tips.small')
                          %p
                            = t('recruiter.companies.tips.big')
                          %p
                            = t('recruiter.companies.tips.medium')
                          %p
                            = t('recruiter.companies.tips.large')
                  = label_tag t('.org_size')
                  = select_tag :size, options_for_select([[t('alg.dynamics.small'), 'Small'], [t('alg.dynamics.medium'), 'Medium'], [t('alg.dynamics.big'), 'Big'], [t('alg.dynamics.large'), 'Large']], resource.company_spec.size)
                .text-input-wrapper
                  .tips
                    .tips-icon
                      .tips-info
                        %p
                          = t('recruiter.companies.tips.results')
                        %p
                          = t('recruiter.companies.tips.innovation')
                        %p
                          = t('recruiter.companies.tips.process')
                        %p
                          = t('recruiter.companies.tips.people')
                  = label_tag t('.org_values')
                  = select_tag :values, options_for_select([[t('alg.typology.results'), 'Results'], [t('alg.typology.innovation'), 'Innovation'], [t('alg.typology.process'), 'Process'], [t('alg.typology.people'), 'People']], resource.company_spec.values)
                .text-input-wrapper 
                  = label_tag t('.email')
                  = email_field_tag :email, resource.email
                .submit-button
                  = submit_tag t('buttons.update')

            = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
              .credential-form
                = f.error_notification
                .text-input-wrapper
                  = f.input :password, autocomplete: "off", placeholder: t('.password_hint'), required: false, label: t('.password')
                .text-input-wrapper
                  = f.input :password_confirmation, required: false, label: t('.repeat_password')
                .text-input-wrapper
                  = f.input :current_password, placeholder: t('.current_password_hint'), required: true, label: t('.current_password')
                .submit-button
                  = f.button :submit, t('buttons.update')
