#show-form
  %span
    Click to create a new company?
.new-company
  = simple_form_for :rec_company, :url => recruiter_companies_path, :method => 'post', :remote => true do |f| 
    .credential-form
      .text-input-wrapper
        = f.input :name, autofocus: true, label: t('recruiter.companies.new.name'), input_html: {required: true}
      .text-input-wrapper
        .tips
          .tips-icon
            .tips-info
              %p
                = t('recruiter.companies.tips.small')
              %p
                = t('recruiter.companies.tips.big')
              %p
                = t('recruiter.companies.tips.medium')
              %p
                = t('recruiter.companies.tips.large')

        = f.input :size, collection: [[t('alg.dynamics.small'), 'Small'], [t('alg.dynamics.medium'), 'Medium'], 
          [t('alg.dynamics.big'), 'Big'], [t('alg.dynamics.large'), 'Large']], :include_blank => false, label: t('recruiter.companies.new.size')
      .text-input-wrapper
        .tips
          .tips-icon
            .tips-info
              %p
                = t('recruiter.companies.tips.results')
              %p
                = t('recruiter.companies.tips.innovation')
              %p
                = t('recruiter.companies.tips.process')
              %p
                = t('recruiter.companies.tips.people')

        = f.input :values, collection: [[t('alg.typology.results'), 'Results'], [t('alg.typology.innovation'), 'Innovation'], 
          [t('alg.typology.process'), 'Process'], [t('alg.typology.people'), 'People']], :include_blank => false, label: t('recruiter.companies.new.values')
      .submit-button
        #close-form
          Close
        = f.submit t('buttons.create') 
