- content_for :title, t('.page_title')

.section-add-item
  .container-flexible
    .inner-container
      .add-item-wrapper
        .col-grid.col-4
          .add-item-button
            = link_to t('.create_job'), new_recruiter_job_path, :class => "add-item", :remote => true
        .col-grid.col-1
          %span
            = t('addsection.candidate')
        .col-grid.col-1
          %span
            = t('addsection.created')
        .col-grid.col-1
          %span
            = t('addsection.focus')
        .col-grid.col-2
          %span
            = t('addsection.attached')

= render :partial => 'layouts/modal', :locals => {:m_id => 'new-job'}

.main-wrapper
  .container-flexible
    .inner-container
      .section-content{:style => @jobs.recents.empty? ? 'display: none;' : ''}
        .section-header
          .col-grid.col-10
            %h3
              = t('.latest')

        .list-section-body
          - @jobs.recents.each do |j|
            = render :partial => 'listitem', :locals => {:j => j}


      .section-content{:style => @jobs.recents.empty? ? 'display: none;' : ''}
        .section-header
          .col-grid.col-10
            %h3
              = t('.all')
        .list-section-body
          - @jobs.each do |j|
            = render :partial => 'listitem', :locals => {:j => j}


