- content_for :title, t('company.jobs.edit.page_title')

= simple_form_for @job, :url => company_job_path(@job), :method => 'put' do |f|
  .credential-form
    .text-input-wrapper
      = f.input :name, required: true, label: t('.name'), :required => true
    .text-input-wrapper
      = f.input :description, label: t('.description'), :required => false
    .text-input-wrapper
      .tips
        .tips-icon
          .tips-info
            %p
              = t('company.jobs.tips.execution')
            %p
              = t('company.jobs.tips.management')
            %p
              = t('company.jobs.tips.client')
            %p
              = t('company.jobs.tips.development')
      = f.input :focus, collection: [[t('alg.focus.execution'), 'Execution'], [t('alg.focus.management'), 'Management'], 
          [t('alg.focus.client'), 'Client'], [t('alg.focus.development'), 'Development']], :include_blank => false, label: t('.focus')
    .submit-button
      = f.submit t('buttons.update')
